git:
  depth: 1
dist: xenial
sudo: true
language: cpp
matrix:
  include:
    - os: linux
      compiler: gcc
      addons:
        apt:
          sources:
            - sourceline: 'ppa:beineri/opt-qt-5.12.8-xenial'
            - sourceline: 'deb https://apt.kitware.com/ubuntu/ xenial main'
              key_url: 'https://apt.kitware.com/keys/kitware-archive-latest.asc'
          packages:
            - g++
            - cmake
            - ninja-build
            - qt512base
            - qt512declarative
            - qt512tools
            - mesa-common-dev
            - libglu1-mesa-dev
      env:
        - CMAKE_GENERATOR=Ninja
    - os: osx
      env:
        - CMAKE_OSX_DEPLOYMENT_TARGET=10.9
        - QT_VERSION=5.9.9
        - CMAKE_GENERATOR=Ninja
    - os: osx
      osx_image: xcode10.3
      env:
        - CMAKE_OSX_DEPLOYMENT_TARGET=10.12
        - QT_VERSION=5.12.8
        - CMAKE_GENERATOR=Ninja
    - os: osx
      osx_image: xcode11.3
      env:
        - CMAKE_OSX_DEPLOYMENT_TARGET=10.13
        - QT_VERSION=5.15.0
        - CMAKE_GENERATOR=Ninja
    - os: windows
      env:
        - QT_VERSION=5.12.8
        - QT_ARCH=win64_msvc2017_64
        - CMAKE_GENERATOR="Visual Studio 15 2017"
        - CMAKE_GENERATOR_PLATFORM=x64
    - os: windows
      env:
        - QT_VERSION=5.6.3
        - QT_ARCH=win32_msvc2015
        - CMAKE_GENERATOR="Visual Studio 15 2017"
        - CMAKE_GENERATOR_PLATFORM=Win32
        - CMAKE_GENERATOR_TOOLSET=v140_xp
before_install:
  - ".travis/$TRAVIS_OS_NAME/install_deps.sh"
  - |
    case "$TRAVIS_OS_NAME" in
    linux)
      export QT_PREFIX=/opt/qt512
      export PATH=${PATH//:\/usr\/local\/cmake-3.12.4\/bin/}
      ;;
    windows)
      export QT_PREFIX="$HOME/Qt/$QT_VERSION/${QT_ARCH#*_}"
      ;;
    osx)
      export QT_PREFIX="$HOME/Qt/$QT_VERSION/clang_64"
      ;;
    esac
script:
  - export SOURCE_DIR=$TRAVIS_BUILD_DIR
  - export BINARY_DIR=$TRAVIS_BUILD_DIR/build
  - if [ "$TRAVIS_OS_NAME" != windows ]; then export CXXFLAGS="-Wall -Wextra -Werror=all"; fi
  - if [ "$CMAKE_GENERATOR" = Ninja ]; then export CMAKE_BUILD_TYPE=Release; fi
  - cmake --version
  - cmake -DCMAKE_PREFIX_PATH="$QT_PREFIX" -S "$SOURCE_DIR" -B "$BINARY_DIR"
  - cmake --build "$TRAVIS_BUILD_DIR/build" --parallel 4 --config Release
before_deploy:
  - ".travis/deploy.sh"
  - ".travis/$TRAVIS_OS_NAME/deploy.sh"
deploy:
  provider: releases
  api_key:
    secure: rHA/q12iYbGRrwQTak2aAV38I1MHLpvA228KoNA6UcyPtfcLtjrfoKDIGa+Li/0onwUTCjyDgObMdYXrq4A5sznL2ezec6oFHETY6u7xqoEj3ITKqcLUKqQMhQ3p3hwO+Q8u0CpuwmAgDyiSwP7WNnVz0XD3qhu9ZEdM12wG0tp9IoyzayGePwDja12uDlESJtOof5HgVgq6rm2xvVFmQUK8Nzfe8o2mkSLVOjCoWGiP4YJtuE7lPOVF0AfzoxfRCY6UkELTJFaVADWWr8FRq8LPioej2zNToIvRw/5qnIfLRfINj2+Oyg5SVOdyT70J1I/1BH3YrPHJGlAsWiWvgthj8XR8TaLZuj6KTphla4cxgWNo11ozbykFDtW7ssbp8Xobos041YhDT9swkkrT+TQPWHAs3fvlOol9klLBjAeYUYQVgoFHykg9WeHsGLW5uyMCPEj38CM6Ma6X/TyGAPgWo6/QcrTfGk4rd8h3Z9wD2614WY5VZDjftggFqmotgkCybtvPg5EjHlNnq4tZ+RzR5tTzxCbTpCaVcGXKemo1QGn70HMcZdSFBpcqIM8sZISAjsEX3VYnOfCLightlvokl9KnVGRA3w26yem9+hfIWvFfahzF0RYJ8kQIVnqsQj8S5qocpaoT0g8THInDzeYmgsP/shCWgEzfEQ7jJ2I=
  file_glob: true
  file: DwarfTherapist-*.*
  skip_cleanup: true
  on:
    repo: cvuchener/Dwarf-Therapist
    branch: deploy-test
